{% extends "base.html" %}
{% block title %}Добавить проект{% endblock %}
{% block content %}
<div class="container">
  {{ flash() }}
  <form class="form-horizontal well" action="{{ url_for('add') }}" method="post">
    <fieldset>
      <legend>Добавить проект</legend>
      <div class="control-group">
        <label class="control-label" for="name">Название</label>
        <div class="controls">
          <input class="input-xlarge" id="name" name="name" type="text"{% if project %} value="{{ project.get('name') }}"{% endif %}>
        </div>
      </div>
      <div class="url">
        <label class="control-label" for="url">Ссылка</label>
        <div class="controls">
          <input class="input-xlarge" id="url" name="url" type="text"{% if project %} value="{{ project.get('url') }}"{% endif %}></input>
          <p class="help-block">
            URL, по которому будет доступен проект.<br>
            yobatracker/project/&lt;url&gt;
          </p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="description">Описание</label>
        <div class="controls">
          <textarea class="input-xlarge" id="description" name="description" rows="3"{% if project %} value="{{ project.get('description') }}"{% endif %}></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="status">Статус</label>
        <div class="controls">
          <input class="input-xlarge" id="status" name="status" type="text"{% if project %} value="{{ project.get('status') }}"{% endif %}>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="progress">Прогресс</label>
        <div class="controls">
          <div class="input-append">
            <div class="input-xlarge">
              <input style="width: 243px; text-align: right;" id="progress" name="progress" type="text"{% if project %} value="{{ project.get('progress') }}"{% endif %}>
              <span class="add-on">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="moderators">Модераторы проекта</label>
        <div class="controls">
          <input class="input-xlarge" id="moderators" name="moderators" type="text"{% if project %} value="{{ project.get('moderators')|join(', ') }}"{% endif %}>
          <p class="help-block">Должны быть разделены запятыми.</p>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Добавить проект</button>
        <button type="reset" class="btn">ОТМЕНА</button>
      </div>
    </fieldset>      
  </form>
</div>
{% endblock %}
