{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script>
$(function() {
  function process() {
    $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
      a: $('input[name="a"]').val(),
      action: $('select#select').val(),
      b: $('input[name="b"]').val()
    }, function(data) {
      $('#result').text(data.result);
    });
  }
  $('input[name="a"]').keyup(process);
  $('input[name="b"]').keyup(process);
  $('select#select').change(process);
});
</script>
<div class="container">
  <h1>jQuery Example</h1><br>
  <p><input type="text" size="5" name="a">
     <select id="select" class="form-control span1">
       <option>+</option>
       <option>-</option>
       <option>*</option>
       <option>/</option>
     </select>
     <input type="text" size="5" name="b"> =
     <span id="result">?</span></p>
</div>
{% endblock %}
